.autoparts-footer {
    background-color: #3e1b67;
    text-align: center;
    color: white;
    padding: 20px;
}

.autoparts-footer p {
    margin: 5px;
}

.autoparts-footer p:nth-child(1) {
    font-weight: 600;
}

.autoparts-footer p:nth-child(2) {
    font-size: 12px;
}